<div class="otherDiv">
    <section id="me">
    <div class="container">
      <div class="row">
        <div class="eight columns offset-by-two columns">
          <p class="intro slate">My Expertise</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="expertise-block"><i class="fa fa-lightbulb-o cadetblue"></i>
            <h4 class="title slate">Languages</h4>
            <p class="summary cadetblue">I have developed applications on PHP, Java and ASP.NET. Experienced in developing internet banking applications and E-Commerce websites.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="expertise-block"><i class="fa fa-magic cadetblue"></i>
            <h4 class="title slate">Agile/Waterfall</h4>
            <p class="summary cadetblue">I can work on Agile Methodology and Waterfall Methodology. Never exceeded time to deliver a sprint. I write user stories for business requirements by interacting with the clients.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="expertise-block"><i class="fa fa-code cadetblue"></i>
            <h4 class="title slate">Code</h4>
            <p class="summary cadetblue">I design in the browser with HTML(5), CSS(3) and a touch of AngularJS. I love coding things from scratch, but I can work with front-end frameworks like Bootstrap too.</p>
          </div>
        </div>
      </div>
    </div>
    </section>
  </div>