<section class="project-showcase" id="projects">
  <div class="container">
      <div class="row">
          <div class="eight columns offset-by-two columns">
            <p class="intro slate">My Work</p>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <img src="assets/images/anz-logo.jpg" class="project-image"></div>
        <div class="col-md-6">
          <div class="project-content" style="text-align:center">
            <h3 class="project-title"><a href="https://www.infosys.com/" target="_blank">Infosys</a> (Client: ANZ Bank)</h3>
            <ul class="project-tags">
              <li>Full Stack Developer (Java, Finacle)</li>
            </ul>
            <p class="project-description" style="text-align: justify">Infosys Limited is an Indian multinational corporation that provides business consulting, information technology and outsourcing services. Client: The Australia and New Zealand Banking Group Limited, commonly called ANZ, is the third largest bank by market capitalisation in Australia dominance in commercial and retail banking. </p>
              <a href="https://www.anz.com.au/personal/" target="_blank" class="button button-primary">Visit Website</a>
          </div>
        </div>
      </div>
      <p style="border-bottom:1px solid;margin:20px 0 60px"></p>
      <div class="row">
        <div class="col-md-6">
          <div class="project-content" style="text-align:center">
            <h3 class="project-title">National Safety Education Center</h3>
            <ul class="project-tags">
              <li>Front End Developer (Cascade Server)</li>
            </ul>
            <p class="project-description" style="text-align: justify">The National Safety Education Center is one of 26 OSHA Training Institute Education Centers (OTIEC) in the nation. These education centers are a national network of non-profit organizations authorized by OSHA to deliver occupational safety and health training to public and private sector workers, supervisors, and employers.</p>
              <a href="https://www.nsec.niu.edu/nsec/" target="_blank" class="button button-primary">Visit Website</a>
          </div>
        </div>
        <div class="col-md-6">
            <img src="assets/images/nsec.png" class="project-image">
        </div>
      </div>
  </div>
</section>
