<section id="about"> 
    <div class="container">
        <div class="row">
            <div class="eight columns offset-by-two columns">
              <p class="intro slate">About me</p>
            </div>
        </div>
        <div class="row" style="text-align:center; margin:0px 0px">
            <div class="col-md-6">
                <div class="cadetblue" style="text-align:justify"> 
                    I am a full-stack web developer with 3.5 years of proven experience. 
                    I have maintained and developed multiple projects, developing both back-end and front-end codebases. 
                    Fixing the cross-browser bugs is something I am fond of. 
                    I have demonstrated experience in developing applications in both Agile Methodology (Scrum and XP) and Waterfall Methodology. 
                    I enjoy being challenged and working on projects that require me to work outside my comfort and knowledge set, 
                    as continuing to learn new languages and development techniques are important to me and the success of your organization. 
                    Developed applications using Java and ASP.NET with a deep knowledge of HTML, CSS, Javascript, JQuery, AngularJS and Bootstrap frameworks. 
                    Continued education has allowed me to stay ahead of the curve and deliver exceptional work to each employer I have worked for. 
                    Nikhil not only develops websites but also designs graphics using Adobe Creative Suite.
                </div>
                <div style="padding: 20px 0px"><a href="assets/images/Nikhilesh_Methuku.pdf" target="_blank" class="button button-primary">RESUME</a></div>
            </div> 
            <div class="col-md-6">
              <div id="halfscreen-hero" class="home-hero1"></div>
            </div>
        </div>
    </div>
  </section>