<div id="fullscreen-hero" class="home-hero">
  <div class="hero-container">
    <div class="hero-content"><a href="#" class="home-logo"><img src="assets/images/NIK_LOGO.png" style="padding:0;"></a>
        <h1>Hi, I am Nikhil. I love to develop </h1>  
        <h1 class="">
          <a href="#" class="typewrite" data-period="2000" data-type='[ "websites.", "applications." ]'>
          <span class="wrap"></span>
          </a>
      </h1>
      <div class="page-scroll"><a href="#hireMe" class="button button-ghost">Yes, I'm Available For Hire</a></div>
      <div class="page-scroll learn-more"><a href="#about">Learn more about what I do<br><i class="fa fa-chevron-down"></i></a></div>
    </div>
  </div> 
</div>
